html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

.topnav {
  overflow: hidden;
  background-color: #0a1128;
}

body {
  margin: 0;
}

.content {
  padding: 5%;
}

.card-box {
  height: 70vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078;
}

input[type="submit"] {
  border: none;
  color: #fefcfb;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 80%;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #1282a2;
}

input[type="text"],
input[type="number"],
select {
  width: 90%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: 1.2rem;
}
.value {
  font-size: 1.2rem;
  color: #1282a2;
}
.state {
  font-size: 1.2rem;
  color: #1282a2;
}
button {
  border: none;
  color: #fefcfb;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.button-on {
  background-color: #034078;
}
.button-on:hover {
  background-color: #1282a2;
}
.button-off {
  background-color: #858585;
}
.button-off:hover {
  background-color: #252524;
}
